<div class="text-center" *ngIf="product; else noProductAvailable">

    <div>
   
          <carousel>
            <slide *ngFor="let photo of product.pictures">
              <img width="1000" height="700" [src]="photo" alt="first slide" style="display: block; width: 100%;">
            </slide>
           
          </carousel>
        
    </div>
    <h1>{{product.name |titlecase}}</h1>
    <p>Size: {{product.size}}</p>
    <p>Color: {{product.color}}</p>
    <p>Current price: {{product.price |currency}}</p>

    <div style="justify-items: center;">
    <div class="row">
        <div class="col">

    <button type="button" class="btn btn-dark" (click)="addToCart()">
        ADD TO CART
     </button>
        </div>
        <div class="col-1" *ngIf="isLoading" >
            <div  class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>   
                
              </div>
        </div>
    </div>
</div>
    

    
</div>

<ng-template #noProductAvailable>
    <p>Loading</p>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>   
        
      </div>
</ng-template>
