
<div  *ngIf="(productList$ | async) as productList; else loadingProducts">
  <div class="row row-cols-3 mt-3">
    <div class="col mb-3" *ngFor="let product of productList|slice:0:productlistSize;">
      <app-product-card class="text-center" [product]="product"></app-product-card>
    </div>
  </div>
  <div class="text-center">
    <button *ngIf="productlistSize < productList.length" class="btn btn-dark" (click)="loadMore()">Load more</button>
  </div>

</div>


<ng-template #loadingProducts>
  <p>Loading</p>
  <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>   
      
    </div>
</ng-template>
